/* *{
    margin: 0%;
    padding: 0%;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2{
    font-size: 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
    
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    margin-top: 20px;
}
p{
    color: #696969;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, #ff9672, #ff6b4e );
    padding: 10px 40px;
    border-radius: 5px;
}

/* dream-big section css */

.dream-big{
    margin-top: 10px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* .link-button-02{
    text-decoration: none;
    font-weight: 700;
    background-image:linear-gradient(45deg, #ff9672, #ff6b4e);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
} */


/* Experience part */
.experiences-part{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}

.box-shadow{
    box-shadow:5px 7px 20px #696969;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
    
}
.border-01{
    border-left: solid #ff6347 7px;
}
.border-02{
    border-left: solid #0000ff 7px;
}